@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;

}

/*========================Header==========================*/

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: white;
    top: 0;
    position: fixed;
    align-items: center;
    z-index: 10;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 250px;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
}

.navs a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;   
}


.navs a:after {
    content: " ";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navs a:hover:after {
    width: 100%;
}





/*========================Search_EngineArea==========================*/

.search-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    position: relative;
    margin-bottom: -80px;
    margin-top: 80px;
    width: 100%;
    height: 150px;
    background-color: antiquewhite;
}

/* .search-infos {
    padding-top: 40px;
    padding-left: 80px;
} */

.search-infos h5 {
    text-align: center;
    font-size: 15px;
}

.search-infos input[type='search'] {
    /* background: transparent; */
    width: 50vw;
    padding: 10px ;
  }

/*========================Search_EngineArea==========================*/

.fetch-container {
    margin: 100px;
}


.data-container {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* padding-left: 30px; */
  margin: 5px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
  /* margin-top: 10px; */
}

#displayData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 100px;
}

.data-infos {
  margin-left: 20px;
}

h5 {
  font-size: 15px;
  font-weight: bolder;
  color: gray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.data-container .title-img {
  object-fit: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 100%;
}

.data-container:hover {
  box-shadow: 2px 2px 30px rgba(60, 55, 55, 0.2);
  overflow: hidden;
}

.title-img:hover {
  transition: all 700ms ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  font-size: 18px;
  font-weight: bolder;
}

.rating .ratingPics {
  height: 30px;
  margin-left: 20px;
}

button {
  border: none;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}


/*========================Footer_Section==========================*/

section {
    padding: 80px 13% 70px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
    gap: 3.5rem;
    background-color: antiquewhite;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-contents img {
    margin-top: -70px;
    margin-bottom: -50px;
    width: 200px;
}

.footer-contents li {
    margin-bottom: 16px;
}

.footer-contents li a {
    display: block;
    color: black;
    font-size: 15px;
    transition: all .40s ease;
}

.footer-contents li a:hover {
    color: gainsboro;
    transform: translateY(-3px) translateX(-5px);
}

.icons a {
    display: inline-block;
    font-size: 22px;
    color: black;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover {
    transform: translateY(-5px);
}




/*========================Media-Query==========================*/

@media screen and (min-width: 400px) {
  #displayData {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
        nav li {
            display: none;
            list-style: none;
            padding: 0px 20px;
            align-items: center;
            justify-content: center;
        }
}

@media screen and (min-width: 750px) {
  #displayData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

    nav li {
        display: inline-block;
        list-style: none;
        padding: 0px 15px;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 1000px) {
    #displayData {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

}


@media screen and (max-width: 1690px) {
    section {
        padding: 50px 5% 40px;
    }

}

@media screen and (max-width: 1120px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }

}

@media screen and (max-width: 700px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 1rem;
    }

}

